/*General*/
* {
	font-family: "Inconsolata",monospace;
}

a {
	text-decoration: none;
}

body {
	margin: 0; 
	padding: 0;
}

.contents {
	max-width: 768px; 
	margin: 0 auto;
}

/*Header*/
header {
	margin-bottom: 1em;
}

header .contents {
	border-bottom: solid 1px lightgray;
}

header nav {
	text-align: right;
}

header .title {
	text-align: center;
}

/*Main*/
main .meta span {
	display: block;
}

main .meta .author {
	font-weight: bold;
}