<!DOCTYPE html>
<html>
<head>
	<title>{%block title%}{%endblock%}</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	{%block import%}{%endblock%}
</head>
<body>
	<header>
		<div class="contents">
			{%block navigation%}{%endblock%}
			<h1 class="title"><a href="/blog">Blog Title Goes Here</a></h1>
		</div>
	</header>
	<main>
		<div class="contents">
			{%block content_header%}{%endblock%}
			{%block content%}{%endblock%}
			{%block content_footer%}{%endblock%}
		</div>
	</main>
</body>
{%block javascript%}{%endblock%}
</html>