{%extends "base.html"%}

{%block title%}Multi User Blog Site{%endblock%}

{%block content_header%}
	<section id="content-header" class="header">
		<nav>
			<a href="/blog/newpost">New Blog</a>
		</nav>
	</section class="header">
{%endblock%}

{%block content%}
	<section id="blogs">
		{%if blogs%}
		{%for blog in blogs%}
		<article class="blog">
			<div class="header">
				<h2 class="title">{{blog.title}}</h2>
				<div class="meta">
					<span class="author">{{blog.author.username}}</span>
					<span class="date-created">{{blog.date_created.strftime('%B %d, %Y %I:%M%p')}}</span>
					<span class="number-of-likes">Likes: {{blog.number_of_likes}}</span>
				</div>
			</div>
			<div class="options">
				<a href="/blog/{{blog.key().id()}}/">Read More</a>
			</div>
		</article>
		{%endfor%}
		{%endif%}
	</section>
{%endblock%}
