{%extends "base.html"%}

{%block title%}{{blog.title}} | Multi User Blog Site{%endblock%}

{%block import%}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{%endblock%}

{%block navigation%}
	<nav>
	{%if signed_in%}
		<a href="/blog/logout">Logout</a>
	{%else%}
		<a href="/blog/login">Login / Sign-up</a>
	{%endif%}
	</nav>
{%endblock%}

{%block content_header%}
	<section id="article-header" class="header">
		<h2 class="title">{{blog.title}}</h2>
		<div class="date">
			{{blog.date_created.strftime('%B %d, %Y %I:%M%p')}}
		</div>
		<div class="meta">
			<span id="number-of-likes">{{blog.number_of_likes}}</span>
			<!-- Need to add blog.author.username here -->
		</div>
		<div class="options">
			<a href="/blog/{{blog.key().id()}}/edit">Edit</a>
			<a href="/blog/{{blog.key().id()}}/delete">Delete</a>
		</div>
	</section>
{%endblock%}

{%block content%}
	<article class="blog">
		<pre>{{blog.content}}</pre>
	</article>
{%endblock%}

{%block content_footer%}
	<section id="article-footer">
		<div id="like">
			<button id="like-button" data-liked="false">Like This Page</button>
			<div class="result"></div>
		</div>
		<div id="comments">
			<div class="header">
				{%if signed_in and comments%}
					<h2 class="title">Share your Knowledge with Us!</h2>
					<form action='/blog/{{blog.key().id()}}/comment/new' method="POST" enctype="multipart/form-data" id='new-comment-form'>
						<div class='form-group'>
							<input type='text' placeholder='title' name='title'>
						</div>
						<div class='form-group'>
							<textarea name='texts' placeholder='Write your comments here.'></textarea>
						</div>
					</form>
					<button class="create">Submit</button>
				{%elif signed_in and not comments%}
					<h2 class="title">Be the first person to post a comment!</h2>
					<form action='/blog/{{blog.key().id()}}/comment/new' method="POST" enctype="multipart/form-data" id='new-comment-form'>
						<div class='form-group'>
							<input type='text' placeholder='title' name='title'>
						</div>
						<div class='form-group'>
							<textarea name='texts' placeholder='Write your comments here.'></textarea>
						</div>
					</form>
					<button class="create">Submit</button>
				{%else%}
					<h2 class="title">You must be logged in to post comments!</h2>
					<a href='/blog/login'>Login/Signup</a>
				{%endif%}
				<div class="result">
				</div>
			</div>
			{%if comments%}
				<ul>
				{%set count = 0%}
				{%for comment in comments%}
					<li id="comment-{{count}}" class='comment'>
						<div class="content">
							<h3 class='title'>{{comment.title}}</h3>
							<div class='meta'>
								<span class='author'>{{comment.author.username}}</span>
								<span class='date-created'>{{comment.date_created.strftime('%B %d, %Y %I:%M%p')}}</span>
							</div>
							<pre class='texts'>{{comment.content}}</pre>
							<div class='options'>
								<button class="edit">Edit</button>
								<button class="delete">Delete</button>
							</div>
							<input type="hidden" value="{{comment.key().id()}}">
						</div>
						<div class="result"></div>
					</li>
					{%set count = count + 1%}						
				{%endfor%}
				</ul>
			{%endif%}
		</div>
	</section>
{%endblock%}
{%block javascript%}
<script>
	//Like handler
	$(document).ready(function(){
		$('#like-button').click(function(){
			$liked = ($('#like-button').attr('data-liked') == 'true');
			if($liked){
				$.ajax({
					type: 'POST',
					url: '/blog/{{blog.key().id()}}/like',
					dataType: "json",
					success: function(result){
						if(result["success"]){
							$('#number-of-likes').html(result["new_count"]);
							$('#like-button').attr('data-liked','false');
							$('#like-button').html('Like This Page');
							$("#like div.result").html(result["success"]);
						}
					},
					error: function(error){
						if(error["status"]!=404){
							$("#like div.result").html(error["responseText"]);	 	
						} else {
							window.location.href = "/blog/not_found";
						};
					}
				});
			} else {
				$.ajax({
					type: 'POST',
					url: '/blog/{{blog.key().id()}}/like',
					dataType: "json",
					success: function(result){
						if(result["error"]){
							console.log(result["error"]);
						} else {
							$('#number-of-likes').html(result["new_count"]);
							$('#like-button').attr('data-liked','true');
							$('#like-button').html('Liked');
							$("#like div.result").html(result["success"]);
						}
					},
					error: function(error){
						if(error["status"]!=404){
							$("#like div.result").html(error["responseText"]);	 	
						} else {
							window.location.href = "/blog/not_found";
						};
					}
				});				
			}
		});
	});
</script>
<script>
	// Comment Handlers
	// Edit Handler
	function post_comment(THIS){
		var $title = $("#new-comment-form input[name=title]").val();
		var $content = $("#new-comment-form textarea[name=texts]").val();
		// Check if submitting title and contents are non-empty.
		if(!($title.length > 0 && $content.length>0)){
			$("#comments div.header div.result").html("Invalid. Title and content must not be empty.");
			return false;
		};
		// If all is well, send data to server.
		$.ajax({
			url: "/blog/{{blog.key().id()}}/comment/new",
			type: "POST",
			contentType:"application/json",
			dataType: 'json',
			data: JSON.stringify({"title": $title, "content":$content}),
			processData: false,
			success: function(result){
				console.log(result)
				if(result["success"]){
					$("#comments div.header div.result").html("Comment has been added successfully.");
					// Clear texts in the form
					$("#new-comment-form input").val("");
					$("#new-comment-form textarea").val("");
					// Append new comment in the list of comments
					var $count = localStorage.count;
					$("#comments ul").prepend("<li id='new-comment-"+$count+"' class='comment'><div class='content'><h3 class='title'>"+result["title"]+"</h3><div class='meta'><span class='author'>"+result["author"]+"</span><span class='date-created'>"+result["date_created"]+"</span></div><pre class='texts'>"+result["content"]+"</pre><div class='options'><button class='edit'>Edit</button><button class='delete'>Delete</button></div><input type='hidden' value='"+result["id"]+"'></div><div class='result'></div></li>");
					$(".comment button.edit").click(function(){render_comment_edit(this);});
					$(".comment button.delete").click(function(){delete_comment(this);});
				};
			}, 
			error: function(error){
				console.log(error)
				if(error["status"] == 400){
					$("#comments div.header div.result").html("Title and comment must not be empty.");
				} else if(error["status"] == 401) {
					$("#comments div.header div.result").html("User must be logged in to post this comment.");
				} else if(error["status"] == 404){
					window.location.href = "/blog/not_found";
				};
			}
		});
	};

	function render_comment_edit(THIS){
		var $li_id = $(THIS).closest("li").prop("id");
		var $title = $('#'+$li_id+" h3.title").html();
		var $content = $('#'+$li_id+" div.texts").html();
		var $comment_key_id = $("#"+$li_id+" input[type=hidden]").val();
		// Validate user
		var $url = "/blog/{{blog.key().id()}}/comment/validate?id="+$comment_key_id;
		$.ajax({
			url: $url,
			type: "GET",
			success:function(result){
				if(result["success"]){
					var $form = "<div class='edit'><form action=''><div class='form-group'><input type='text' placeholder='title' name='title' value='"+$title+"'></div><div class='form-group'><textarea name='texts' placeholder='Write your comments here.'>"+$content+"</textarea></div></form><button class='submit'>Submit</button></div>";
					$("#"+$li_id+" div.content").css("display","None");
					$("#"+$li_id+" div.content").after($form);
					$(".comment button.submit").click(function(){
						submit_comment_edit(this);
					});  
		 		};
			},
			error:function(error){
				if(error["status"] == 401){
					$("#"+$li_id+" div.result").html("Invalid. Either user is not signed in, or is not the author of this comment.");
				} else {
					console.log(error);
				};
			}  
		});
	};
 
	function submit_comment_edit(THIS){
		var $error_400 = "Invalid. Both title and content must not be empty.";
		// Harvest form data.
		var $li_id = $(THIS).closest("li").prop("id");
		var $comment_key_id = $("#"+$li_id+" input[type=hidden]").val();
		var $new_title = $("#"+$li_id+" input[name=title]").val();
		var $new_content = $("#"+$li_id+" textarea[name=texts]").val();
		// Check if submitting title and contents are non-empty.
		if(!($new_title.length > 0 && $new_content.length>0)){
			$("#"+$li_id+" div.result").html($error_400);
			return false;
		};
		console.log({"title": $new_title, "content":$new_content, "id":$comment_key_id});
		// If all is well, send data to server.
		$.ajax({
			url:"/blog/{{blog.key().id()}}/comment/edit",
			type: "PUT",
			contentType:"application/json",
			dataType: 'json',
			data: JSON.stringify({"title": $new_title, "content":$new_content, "id":$comment_key_id}),
			processData: false,
			success: function(result){
				if(result["success"]){
					console.log("This comment has been edited successfully.");
					// Replace the comment with new title and content.
					$("#"+$li_id+" h3.title").html($new_title);
					$("#"+$li_id+" div.texts").html($new_content);
					// Remove form and re-display content.
					$("#"+$li_id+" div.content").css("display","initial");
					$("#"+$li_id+" div.edit").remove();
				};
			}, 
			error: function(error){
				if(error["status"] == 400){
					$("#"+$li_id+" div.result").html($error_400);
				} else if(error["status"] == 401) {
					window.location.href = "/blog/not_authorized";
				} else if(error["status"] == 404){
					window.location.href = "/blog/not_found";
				};
			}
		});
	}; 

	function delete_comment(THIS){
		// Harvest comment id.
		var $li_id = $(THIS).closest("li").prop("id");
		var $comment_key_id = $("#"+$li_id+" input[type=hidden]").val();		
		// Send AJAX DELETE request to server.
		$.ajax({
			url: "/blog/{{blog.key().id()}}/comment/delete?id="+$comment_key_id,
			type: "DELETE",
			dataType:'json',
			success:function(result){
				if(result["success"]){
					$("#"+$li_id).remove();
				}
			},
			error:function(error){
				if(error["status"]==400){
					console.log(400);
					$("#"+$li_id+" div.result").html("Invalid. Comment is not found.");
				} else if(error["status"]==401){
					console.log(401);
					$("#"+$li_id+" div.result").html("Invalid. User is not logged in.");
				} else if(error["status"]==403){
					console.log(403);
					$("#"+$li_id+" div.result").html("Not allowed. User must be the author of this post.");
				} else if(error["status"]==404){
					window.location.href="/blog/not_found";
				}
			}

		});

	};

	$(document).ready(function(){
		localStorage.count = 0;

		$("#comments .header button.create").click(function(){post_comment(this)});
		$(".comment button.edit").click(function(){render_comment_edit(this);});
		$(".comment button.delete").click(function(){delete_comment(this);});
	});

</script>
{%endblock%}

