{%extends "base.html"%}

{%block title%}{{blog.title}} | Multi User Blog Site{%endblock%}

{%block import%}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="/static/js/likehandler.js"></script>
	<script src="/static/js/commenthandler.js"></script>
{%endblock%}

{%block navigation%}
	<nav>
	{%if signed_in%}
		<a href="/blog/logout">Logout</a>
	{%else%}
		<a href="/blog/login">Login / Sign-up</a>
	{%endif%}
	</nav>
{%endblock%}

{%block content_header%}
	<section id="article-header" class="header">
		<h2 class="title">{{blog.title}}</h2>
		<div class="meta">
			<span class="author">{{blog.author.username}}</span>
			<span class="date-created">{{blog.date_created.strftime("%B %d, %Y %I:%M%p")}}</span>
			<span id="number-of-likes">Likes: {{blog.number_of_likes}}</span>
		</div>
		<div class="options">
			<a href="/blog/{{blog.key().id()}}/edit">Edit</a>
			<a href="/blog/{{blog.key().id()}}/delete">Delete</a>
		</div>
	</section>
{%endblock%}

{%block content%}
	<article class="blog">
		<pre>{{blog.content}}</pre>
	</article>
{%endblock%}

{%block content_footer%}
	<section id="article-footer">
		<div id="like">
			<button id="like-button" data-liked="false">Like This Page</button>
			<div class="result"></div>
		</div>
		<div id="comments">
			<div class="header">
				{%if signed_in and comments%}
					<h2 class="title">Share your Knowledge with Us!</h2>
					<form action="/blog/{{blog.key().id()}}/comment/new" method="POST" enctype="multipart/form-data" id="new-comment-form">
						<div class="form-group">
							<input type="text" placeholder="title" name="title">
						</div>
						<div class="form-group">
							<textarea name="texts" placeholder="Write your comments here."></textarea>
						</div>
					</form>
					<button class="create">Submit</button>
				{%elif signed_in and not comments%}
					<h2 class="title">Be the first person to post a comment!</h2>
					<form action="/blog/{{blog.key().id()}}/comment/new" method="POST" enctype="multipart/form-data" id="new-comment-form">
						<div class="form-group">
							<input type="text" placeholder="title" name="title">
						</div>
						<div class="form-group">
							<textarea name="texts" placeholder="Write your comments here."></textarea>
						</div>
					</form>
					<button class="create">Submit</button>
				{%else%}
					<h2 class="title">You must be logged in to post comments!</h2>
					<a href="/blog/login">Login/Signup</a>
				{%endif%}
				<div class="result">
				</div>
			</div>

			{%if comments%}
				<ul>
				{%set count = 0%}
				{%for comment in comments%}
					<li id="comment-{{count}}" class="comment">
						<div class="content">
							<h3 class="title">{{comment.title}}</h3>
							<div class="meta">
								<span class="author">{{comment.author.username}}</span>
								<span class="date-created">{{comment.date_created.strftime("%B %d, %Y %I:%M%p")}}</span>
							</div>
							<pre class="texts">{{comment.content}}</pre>
							<div class="options">
								<button class="edit">Edit</button>
								<button class="delete">Delete</button>
							</div>
							<input type="hidden" value="{{comment.key().id()}}">
						</div>
						<div class="result"></div>
					</li>
					{%set count = count + 1%}	
				{%endfor%}
				</ul>
			{%endif%}

		</div>
	</section>
{%endblock%}
{%block javascript%}
<script>
	//Like handler
	$(document).ready(function(){
		var $BLOG_ID = "{{blog.key().id()}}"
		localStorage.count = 0;

		$('#like-button').click(function(){
			updateLike($BLOG_ID);
		});
		$("#comments .header button.create").click(function(){
			postComment(this, $BLOG_ID)
		});
		$(".comment button.edit").click(function(){
			renderCommentEdit(this, $BLOG_ID);
		});
		$(".comment button.delete").click(function(){
			deleteComment(this, $BLOG_ID);
		});
	});
</script>
{%endblock%}

