{%extends "base.html"%}

{%block title%}{{blog.title}} | Multi User Blog Site{%endblock%}

{%block import%}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{%endblock%}

{%block navigation%}
	<nav>
	{%if signed_in%}
		<a href="/blog/logout">Logout</a>
	{%else%}
		<a href="/blog/login">Login / Sign-up</a>
	{%endif%}
	</nav>
{%endblock%}

{%block content_header%}
	<section id="article-header" class="header">
		<h2 class="title">{{blog.title}}</h2>
		<div class="date">
			{{blog.dateCreated.strftime('%B %d, %Y %I:%M%p')}}
		</div>
		<div class="meta">
			<span id="number-of-likes">{{blog.numberOfLikes}}</span>
			<!-- Need to add blog.author.username here -->
		</div>
		<div class="options">
			<a href="/blog/{{blog.key().id()}}/edit">Edit</a>
			<a href="/blog/{{blog.key().id()}}/delete">Delete</a>
		</div>
	</section>
{%endblock%}

{%block content%}
	<article class="blog">
		<p>{{blog.content}}</p>
	</article>
{%endblock%}

{%block content_footer%}
	<section id="article-footer">
		<div id="like">
			<button id="like-button" data-liked="false">Like This Page</button>
		</div>
		<div id="comments">
			<div class="header">
				{%if signed_in and comments%}
					<h2 class="title">Share your Knowledge with Us!</h2>
					<form action='/blog/{{blog.key().id()}}/comment/new' method="POST" enctype="multipart/form-data" id='new-comment-form'>
						<div class='form-group'>
							<input type='text' placeholder='title' name='title'>
						</div>
						<div class='form-group'>
							<textarea name='texts' placeholder='Write your comments here.'></textarea>
						</div>
						<div class='form-group'>
							<input type="submit" value="submit">
						</div>
					</form>
				{%elif signed_in and not comments%}
					<h2 class="title">Be the first person to post a comment!</h2>
					<form action='/blog/{{blog.key().id()}}/comment/new' method="POST" enctype="multipart/form-data" id='new-comment-form'>
						<div class='form-group'>
							<input type='text' placeholder='title' name='title'>
						</div>
						<div class='form-group'>
							<textarea name='texts' placeholder='Write your comments here.'></textarea>
						</div>
						<div class='form-group'>
							<input type="submit" value="submit">
						</div>
					</form>
				{%else%}
					<h2 class="title">You must be logged in to post comments!</h2>
					<a href='/blog/login'>Login/Signup</a>
				{%endif%}
			</div>
			{%if comments%}
				<ul>
				{%set count = 0%}
				{%for comment in comments%}
					<li id="comment-{{count}}" class='comment'>
						<div class="content">
							<h3 class='title'>{{comment.title}}</h3>
							<div class='meta'>
								<span class='author'>{{comment.author.username}}</span>
								<span class='date-created'>{{comment.dateCreated}}</span>
							</div>
							<div class='texts'>{{comment.content}}</div>
							<div class='options'>
								<button class="edit">Edit</button>
								<a href='/blog/{{blog.key().id()}}/comment/delete?id={{comment.key().id()}}'>Delete</a>
							</div>
							<input type="hidden" value="{{comment.key().id()}}">
						</div>
						<div class="result"></div>
					</li>
					{%set count = count + 1%}						
				{%endfor%}
				</ul>
			{%endif%}
		</div>
	</section>
{%endblock%}
{%block javascript%}
<script>
	//Like handler
	$(document).ready(function(){
		$('#like-button').click(function(){
			$liked = ($('#like-button').attr('data-liked') == 'true');
			if($liked){
				$.ajax({
					type: 'POST',
					url: '/blog/{{blog.key().id()}}/like',
					dataType: "json",
					success: function(result){
						if(result["error"]){
							console.log(result["error"]);
						} else {
							$('#number-of-likes').html(result["new_count"]);
							$('#like-button').attr('data-liked','false');
							$('#like-button').html('Like This Page');
						}
					},
					error: function(error){
						console.log(error);
					}
				});
			} else {
				$.ajax({
					type: 'POST',
					url: '/blog/{{blog.key().id()}}/like',
					dataType: "json",
					success: function(result){
						if(result["error"]){
							console.log(result["error"]);
						} else {
							$('#number-of-likes').html(result["new_count"]);
							$('#like-button').attr('data-liked','true');
							$('#like-button').html('Liked');
						}
					},
					error: function(error){
						console.log(error);
					}
				});				
			}
		});
	});
</script>
<script>
	// Comment Handlers
	// Edit Handler
	function renderCommentEdit(THIS){
		var $li_id = $(THIS).closest("li").prop("id");
		var $title = $('#'+$li_id+" h3.title").html();
		var $content = $('#'+$li_id+" div.texts").html();
		var $comment_key_id = $("#"+$li_id+" input[type=hidden]").val();
		// Validate user
		var $url = "/blog/{{blog.key().id()}}/comment/validate?id="+$comment_key_id;
		$.ajax({
			url: $url,
			type: "GET",
			success:function(result){
				if(result["success"]){
					var $form = "<div class='edit'><form action=''><div class='form-group'><input type='text' placeholder='title' name='title' value='"+$title+"'></div><div class='form-group'><textarea name='texts' placeholder='Write your comments here.'>"+$content+"</textarea></div></form><button class='submit'>Submit</button></div>";
					$("#"+$li_id+" div.content").css("display","None");
					$("#"+$li_id+" div.content").after($form);
					$(".comment button.submit").click(function(){
						submitCommentEdit(this);
					});  
		 		};
			},
			error:function(error){
				if(error["status"] == 401){
					$("#"+$li_id+" div.result").html("Invalid. Either user is not signed in, or is not the author of this comment.");
				} else {
					console.log(error);
				};
			}  
		});
	};

	function submitCommentEdit(THIS){
		var $error_400 = "Invalid. Both title and content must not be empty.";
		// Harvest form data.
		var $li_id = $(THIS).closest("li").prop("id");
		var $comment_key_id = $("#"+$li_id+" input[type=hidden]").val();
		var $new_title = $("#"+$li_id+" input[name=title]").val();
		var $new_content = $("#"+$li_id+" textarea[name=texts]").val();
		// Check if submitting title and contents are non-empty.
		if(!($new_title.length > 0 && $new_content.length>0)){
			$("#"+$li_id+" div.result").html($error_400);
			return false;
		};
		console.log({"title": $new_title, "content":$new_content, "id":$comment_key_id});
		// If all is well, send data to server.
		$.ajax({
			url:"/blog/{{blog.key().id()}}/comment/edit",
			type: "PUT",
			contentType:"application/json",
			dataType: 'json',
			data: JSON.stringify({"title": $new_title, "content":$new_content, "id":$comment_key_id}),
			processData: false,
			success: function(result){
				if(result["success"]){
					console.log("This comment has been edited successfully.");
					// Replace the comment with new title and content.
					$("#"+$li_id+" h3.title").html($new_title);
					$("#"+$li_id+" div.texts").html($new_content);
					// Remove form and re-display content.
					$("#"+$li_id+" div.content").css("display","none");
					$("#"+$li_id+" div.edit").remove();
				};
			}, 
			error: function(error){
				if(error["status"] == 400){
					$("#"+$li_id+" div.result").html($error_400);
				} else if(error["status"] == 401) {
					window.location.href = "/blog/not_authorized";
				} else if(error["status"] == 404){
					window.location.href = "/blog/not_found";
				};
			}
		});
	}; 

	// function postComment(){
	// 	// Harvest form values
	// 	var $json = {};
	// 	$.each($("#new-comment-form").serializeArray(),function(i,field){
	// 		$json[field.name] = field.value;
	// 	});
	// 	console.log($json);
	// 	$.ajax({
	// 		url: "/blog/{{blog.key().id()}}/comment/new",
	// 		type: "POST",
	// 		dataType: "json",
	// 		data: $json,
	// 		processData:false,
	// 		success: function(result){
	// 			if(result["success"]){
	// 				$("#comments input[name=title]").val("");
	// 				$("#comments textarea[name=texts]").val("")
	// 				$("#comments .title").html("Thank you so much for sharing!");
	// 				comment = "<li class='comment'><h3 class='title'>"+result["data"]["title"]+"</h3><div class='meta'><span class='author'>"+result["data"]["author"]+"</span><span class='date-created'>"+result["data"]["dateCreated"]+"</span></div><div class='texts'>"+result["data"]["content"]+"</div><div class='options'><a href='/blog/{{blog.key().id()}}/comment/edit?id='><a href='/blog/{{blog.key().id()}}/comment/delete?id='></div>";
	// 				$("#comments ul").append(comment);
	// 			};
	// 		},
	// 		error: function(error){
	// 			console.log(error);					
	// 		} 
	// 	});
	// };

	// function retrieveComments(){
	// 	$.ajax({
	// 		url: "/blog/{{blog.key().id()}}/comment",
	// 		type: "GET",
	// 		dataType: "json",
	// 		success: function(result) {
	// 			if(result["success"] && result["logged_in"] && result["data"]){
	// 				$("#comments .title").html("Share Your Knowledge With us!");
	// 				form = "<form action='' id='new-comment-form'><div class='form-group'><input type='text' placeholder='title' name='title'></div><div class='form-group'><textarea name='texts' placeholder='Write your comments here.'></textarea></div><div class='form-group'><button>Submit</button></div></form>";
	// 				$("#comments .header").append(form)
	// 				for(data in result["data"]) {
	// 					comment = "<li class='comment'><h3 class='title'>"+data["title"]+"</h3><div class='meta'><span class='author'>"+data["author"]+"</span><span class='date-created'>"+data["dateCreated"]+"</span></div><div class='texts'>"+data["content"]+"</div><	div class='options'><a href='/blog/{{blog.key().id()}}/comment/edit?id='>Edit</a><a href='/blog/{{blog.key().id()}}/comment/delete?id='>Delete</a></div></li>"; 
	// 					$("#comments ul").append(comment); 
	// 				} 
	// 			} else if (result["success"] && result["logged_in"] && !result["data"]){
	// 				$("#comments .title").html("Be the first person to post a comment!");
	// 				form = "<form action='' id='new-comment-form'><div class='form-group'><input type='text' placeholder='title' name='title'></div><div class='form-group'><textarea name='texts' placeholder='Write your comments here.'></textarea></div><div class='form-group'><button>Submit</button></div></form>";
	// 				$("#comments .header").append(form)
	// 			} else if (result["success"] && !result["logged_in"] && result["data"]) {
	// 				$("#comments .title").html("You must be logged in to post comments!");
	// 				link = "<a href='/blog/login'>Login/Signup</a>";
	// 				$("#comments .header").append(link);
	// 				for(data in result["data"]) {
	// 					comment = "<li class='comment'><h3 class='title'>"+data["title"]+"</h3><div class='meta'><span class='author'>"+data["author"]+"</span><span class='date-created'>"+data["dateCreated"]+"</span></div><div class='texts'>"+data["content"]+"</div><div class='options'><a href='/blog/{{blog.key().id()}}/comment/edit?id='>Edit</a><a href='/blog/{{blog.key().id()}}/comment/delete?id='>Delete</a></div></li>"; 
	// 					$("#comments ul").append(comment);
	// 				} 
	// 			} else if (result["success"] && !result["logged_in"] && !result["data"]) {
	// 				$("#comments .title").html("You must be logged in to post comments!");
	// 				link = "<a href='/blog/login'>Login/Signup</a>";
	// 				$("#comments .header").append(link);					
	// 			} 
	// 		},
	// 		error: function(error) {
	// 			$("#comments .title").html("Sorry. Failed to load comments.");
	// 		}  
	// 	});
	// };
	$(document).ready(function(){
		// Retrieve comments on load.
		// retrieveComments();
		// Submit a comment upon clicking submit button.
		// $('#new-comment-form button').click(postComment());
		$(".comment button.edit").click(function(){renderCommentEdit(this);});
	});

</script>
{%endblock%}

