{%extends "base.html"%}

{%block title%}Sign-Up | Multi User Blog Site{%endblock%}

{%block content_header%}
	<section id="content-header" class="header">
		<h2 class="title">Sign-Up</h2>
	</section>
{%endblock%}

{%block content%}
	<section id="sign-up-area">
		<form action="/blog/signup" method="POST" enctype="multipart/form-data">
			<div class="form-group" id="sign-up-username">
				<input type="text" name="username" value="{{username}}" placeholder="Username">
				{%if errors%}
					{%if errors['username_empty']%}
					<span class="error">Username field is empty</span>
					{%elif errors['username_exists']%}
					<span class="error">Username already exists</span>
					{%endif%}
				{%endif%}
			</div>
			<div class="form-group" id="sign-up-password">
				<input type="password" name="password" value="{{password}}" placeholder="Password">
				{%if errors%}
					{%if errors['password_empty']%}
					<span class="error">Password field is empty</span>
					{%elif errors['password_mismatch']%}
					<span class="error">Password and verify password mismatch</span>
					{%endif%}
				{%endif%}
			</div>
			<div class="form-group" id="sign-up-verify-pw">
				<input type="password" name="verify" value="{{verify_pw}}" placeholder="Verify Password">
				{%if errors%}
					{%if errors['verify_pw_empty']%}
					<span class="error">Verify password field is empty</span>
					{%endif%}
				{%endif%}
			</div>
			<div class="form-group" id="sign-up-email">
				<input type="email" name="email" value="{{email}}" placeholder="Email">
				{%if errors%}
					{%if errors['email_empty']%}
					<span class="error">Email field is empty</span>
					{%endif%}
				{%endif%}
			</div>
			<div class="form-group" id="sign-up-submit">
				<input type="submit" value="Submit">
			</div>
		</form>
		<a href="/blog/login">Already have an account? Log in here</a>
	</section>
{%endblock%}

