<!DOCTYPE html>
<html>
<head>
	<title>Login | Multi-User Blog Site</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css">
</head>
<body>
	<header>
		<h1 id="blog-title"><a href="/blog">Blog Title Goes Here</a></h1>
	</header>
	<main>
		<h2 class="title">Login</h2>
		<form id="sign-in" action="/blog/login" method="POST" enctype="multipart/form-data">
			<div class="form-group" id="sign-up-username">
				<label>Username:</label>
				<input type="text" name="username" value="{{username}}">
			</div>
			<div class="form-group" id="sign-up-password">
				<label>Password:</label>
				<input type="password" name="password" value="{{password}}">
			</div>
			<div class="form-group" id="sign-up-submit">
				<input type="submit" value="Submit">
			</div>
			{%if error%}
			<span class="error">{{error}}</span>
			{%endif%}
		</form>
		<a href="/blog/signup">Don't have an account? Sign up here</a>
	</main>
</body>
</html>