{%extends "base.html"%}

{%block title%}Multi User Blog Site{%endblock%}

{%block navigation%}
	<nav>
	{%if signed_in%}
		<a href="/blog/logout">Logout</a>
	{%else%}
		<a href="/blog/login">Login / Sign-up</a>	
	{%endif%}
	</nav>
{%endblock%}

{%block content_header%}
	<section id="content-header" class="header">
		<nav>
			<a href="/blog/newpost">New Blog</a>
		</nav>
	</section class="header">
{%endblock%}

{%block content%}
	<section id="blogs">
		{%if blogs%}
		{%for blog in blogs%}
		<article class="blog">
			<div class="header">
				<h2 class="title">{{blog.title}}</h2>
				<div class="date">
					{{blog.dateCreated.strftime('%B %d, %Y %I:%M%p')}}
				</div>
			</div>
			<div class="options">
				<a href="/blog/{{blog.key().id()}}/">Read More</a>
			</div>
		</article>
		{%endfor%}
		{%endif%}
	</section>
{%endblock%}
