<!DOCTYPE html>
<html>
<head>
	<title>Blog Site</title>
</head>
<body>
	<header>
		<h1 id="blog-title"><a href="/blog">Blog Title Goes Here</a></h1>
		{%if signed_in%}
			<a href="/blog/logout">Logout</a>
		{%else%}
			<a href="/blog/login">Login</a>
		{%endif%}
	</header>
	<main>
		{%if blog%}
		<article class="blog">
			<header class="header">
				<h2 class="title">{{blog.title}}</h2>
				<div class="date">
					{{blog.dateCreated}}
				</div>
				<div class="options">
					<a href="/blog/{{blog.key()}}/edit">Edit</a>
					<a href="/blog/{{blog.key()}}/delete">Delete</a>
				</div>
			</header>
			<p class="content">{{blog.content}}</p>
		</article>
		{%endif%}
	</main> 
</body>
</html>